/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

:root {
  --primary-color: #050b52;
  --white-color: #f8fcff;
  --contrast-color: #ecf4fd;
}

body {
  background-color: var(--white-color);
}
